[submodule "linked/vim-pathogen"]
	path = linked/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "typescript-vim"]
	path = typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "linked/tsuquyomi"]
	path = linked/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi
[submodule "linked/csv.vim"]
	path = linked/csv.vim
	url = https://github.com/chrisbra/csv.vim
