[submodule "linked/vim-pathogen"]
    path = linked/vim-pathogen
    url = https://github.com/tpope/vim-pathogen
    ignore = dirty
[submodule "linked/tsuquyomi"]
    path = linked/tsuquyomi
    url = https://github.com/Quramy/tsuquyomi
    ignore = dirty
[submodule "linked/csv.vim"]
    path = linked/csv.vim
    url = https://github.com/chrisbra/csv.vim
    ignore = dirty
[submodule "linked/typescript-vim"]
    path = linked/typescript-vim
    url = https://github.com/leafgarland/typescript-vim
    ignore = dirty
[submodule "linked/vim-es6"]
	path = linked/vim-es6
	url = https://github.com/isRuslan/vim-es6
[submodule "linked/vim-flake8"]
	path = linked/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "linked/vim-go"]
	path = linked/vim-go
	url = https://github.com/fatih/vim-go
[submodule "linked/vim-tslint"]
	path = linked/vim-tslint
	url = https://github.com/heavenshell/vim-tslint
